<div class="main">
  <dx-pagination
    [width]="componentWidth"
    [allowedPageSizes]="allowedPageSizes"
    [pageIndex]="pageIndex"
    [itemCount]="itemCount"
    [pageSize]="pageSize"
    [showNavigationButtons]="true"
    [showInfo]="true"
    (onOptionChanged)="onPaginationOptionChanged($event)"
  >
  </dx-pagination>

  <div style="max-height: 800px; margin-top: 16px">
    <dx-data-grid
      [dataSource]="dataSource"
      [showBorders]="true"
      [width]="componentWidth"
      (onOptionChanged)="onGridOptionChanged($event)"
    >
      <dxo-data-grid-filter-row [visible]="true"></dxo-data-grid-filter-row>
      <dxo-data-grid-scrolling
        rowRenderingMode="virtual"
      ></dxo-data-grid-scrolling>
      <dxo-data-grid-paging
        [pageSize]="pageSize"
        [pageIndex]="pageIndex - 1"
      ></dxo-data-grid-paging>
      <dxo-data-grid-pager [visible]="false"></dxo-data-grid-pager>

      <dxi-data-grid-column
        dataField="firstName"
        caption="First Name"
      ></dxi-data-grid-column>
      <dxi-data-grid-column
        dataField="lastName"
        caption="Last Name"
      ></dxi-data-grid-column>
      <dxi-data-grid-column
        dataField="gender"
        caption="Gender"
      ></dxi-data-grid-column>
      <dxi-data-grid-column
        dataField="birthDate"
        caption="Birth Date"
        dataType="date"
      ></dxi-data-grid-column>
    </dx-data-grid>
  </div>
</div>
